// 🎨 Couleurs principales
$primary-color: #00b295;
$secondary-color: #57b2c7;
$background-color: #fffcf7;
$text-color: #143b52;

// 🖋️ Typographie
$font-family: 'Alice', serif;
$font-weight: 400;
$font-style: normal;
$font-size-base: 16px;

// 📏 Espacements
$spacing-unit: 8px;


